/* Elementos del Header */
.my-nav-li a {
    color: whitesmoke
}
.my-nav-li a:hover {
    color: brown
}


.my-btn-outline-brown {
    color:brown;
    border-color:brown
}
.my-btn-outline-brown:hover {
    color:whitesmoke;
    background-color:brown;
    border-color:brown
}


.my-btn-brown {
    color:whitesmoke;
    background-color:brown;
    border-color:brown
}
.my-btn-brown:hover {
    color:brown;
    background-color:whitesmoke;
    border-color:whitesmoke
}


/* Elementos del Main */
    /* AboutUs Slide*/
    .my-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .my-container .my-col {
        width: 50%;
    }
    .my-container .my-col.col-rght {
        -webkit-box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }
    .my-container .my-col .aboutus-slider {
        width: 300%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .my-container .my-col .aboutus-slider .slide {
        width: 100%;
        min-height: 500px;
        background-size: cover;
        background-position: center;
    }
    .my-container .my-col .aboutus-slider .slide.aboutus-pic1{
        background-image: url("../img/about_us_01.jpg");
    }
    .my-container .my-col .aboutus-slider .slide.aboutus-pic2{
        background-image: url("../img/about_us_02.jpg");
    }
    .my-container .my-col .aboutus-slider .slide.aboutus-pic3{
        background-image: url("../img/about_us_03.jpg");
    }

/* Elementos del Footer */
.my-footer-li a {
    color: #7a7a7a
}
.my-footer-li a:hover {
    color: brown
}